<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的是Mapper接口-->
<mapper namespace="com.atguigu.springCloud.dao.PaymentDao">


    <!--
    int create(Payment payment);
    -->
    <insert id="create" parameterType="com.atguigu.springCloud.Entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)  values(#{serial});
    </insert>


    <!--
    Payment getPaymentById(@Param("id") Long id);
    -->
    <select id="getPaymentById" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>

    <resultMap id="BaseResultMap" type="com.atguigu.springCloud.Entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
